
{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <style>
        .text-strike {
            text-decoration: line-through;
        }
    </style>
{% endblock %}

{% block body %}

    <p class="lead">Plan de Formation</p>

    <ul>
        <li class="text-strike">Webpack</li>
        <li>Cache</li>
        <li>Formulaire</li>
        <li>Event (Listener & Subscriber)</li>
        <li>HttpClient</li>
        <li>Filtre Twig</li>
        <li>Les Mailer (Mailer & Swift_Mailer)</li>
        <li>Console Command</li>
        <li>Application: Dashbord</li>
    </ul>

{% endblock %}




