{% extends 'base.html.twig' %}

{% block title %}Les Mailer{% endblock %}

{% block body %}

    <h3> Mailer de symfony </h3>
    <p><code>composer require mailer</code> // déjà installé par défaut</p>

    {{ form(form) }}


{% endblock %}
